USE [master]
GO
/****** Object:  Database [LaptopConsultantDb]    Script Date: 24/06/2025 7:58:06 CH ******/
CREATE DATABASE [LaptopConsultantDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopConsultantDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaptopConsultantDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopConsultantDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LaptopConsultantDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopConsultantDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopConsultantDb]
GO
/****** Object:  Table [dbo].[FilterCriteria]    Script Date: 24/06/2025 7:58:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterCriteria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Needs] [nvarchar](max) NOT NULL,
	[Brands] [nvarchar](max) NOT NULL,
	[MinBudget] [decimal](18, 2) NOT NULL,
	[MaxBudget] [decimal](18, 2) NOT NULL,
	[ScreenSizes] [nvarchar](max) NOT NULL,
	[RAM] [nvarchar](max) NOT NULL,
	[Storage] [nvarchar](max) NOT NULL,
	[CPUs] [nvarchar](max) NOT NULL,
	[GPUs] [nvarchar](max) NOT NULL,
	[MinWeight] [decimal](18, 2) NOT NULL,
	[MaxWeight] [decimal](18, 2) NOT NULL,
	[OS] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FilterCriteria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptops]    Script Date: 24/06/2025 7:58:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CPU] [nvarchar](max) NOT NULL,
	[RAM] [nvarchar](max) NOT NULL,
	[Storage] [nvarchar](max) NOT NULL,
	[Screen] [nvarchar](max) NOT NULL,
	[GPU] [nvarchar](max) NOT NULL,
	[Weight] [nvarchar](max) NOT NULL,
	[OS] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[Needs] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Laptops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSelections]    Script Date: 24/06/2025 7:58:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSelections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Needs] [nvarchar](max) NOT NULL,
	[Brands] [nvarchar](max) NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SelectedLaptopId] [int] NULL,
 CONSTRAINT [PK_UserSelections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FilterCriteria] ON 

INSERT [dbo].[FilterCriteria] ([Id], [Needs], [Brands], [MinBudget], [MaxBudget], [ScreenSizes], [RAM], [Storage], [CPUs], [GPUs], [MinWeight], [MaxWeight], [OS]) VALUES (1, N'Gaming', N'Asus,MSI,Acer', CAST(20.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'15.6,17', N'16,32', N'512,1000', N'i7,i9,ryzen', N'rtx3050,rtx3060,rtx3080', CAST(2.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), N'windows')
INSERT [dbo].[FilterCriteria] ([Id], [Needs], [Brands], [MinBudget], [MaxBudget], [ScreenSizes], [RAM], [Storage], [CPUs], [GPUs], [MinWeight], [MaxWeight], [OS]) VALUES (2, N'Học tập,Văn phòng', N'Dell,HP,Lenovo', CAST(10.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), N'13,14,15.6', N'8,16', N'256,512', N'i3,i5,ryzen', N'onboard', CAST(1.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), N'windows')
INSERT [dbo].[FilterCriteria] ([Id], [Needs], [Brands], [MinBudget], [MaxBudget], [ScreenSizes], [RAM], [Storage], [CPUs], [GPUs], [MinWeight], [MaxWeight], [OS]) VALUES (3, N'Đồ họa,Lập trình', N'Apple,Dell,MSI', CAST(25.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), N'13,14,15.6', N'16,32', N'512,1000', N'i7,i9,m1', N'm1,rtx3060,iris', CAST(1.20 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), N'macos,windows')
SET IDENTITY_INSERT [dbo].[FilterCriteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptops] ON 

INSERT [dbo].[Laptops] ([Id], [Name], [Brand], [Price], [CPU], [RAM], [Storage], [Screen], [GPU], [Weight], [OS], [ImageUrl], [IsFeatured], [Needs]) VALUES (1, N'Dell XPS 13', N'Dell', CAST(31790000.00 AS Decimal(18, 2)), N'Intel Core i7-1165G7', N'16GB', N'512GB SSD', N'13.4 inch 4K UHD+', N'Intel Iris Xe', N'1.2kg', N'Windows 11', N'/images/laptops/dell-xps-13.jpg', 1, N'Học tập,Lập trình,Văn phòng')
INSERT [dbo].[Laptops] ([Id], [Name], [Brand], [Price], [CPU], [RAM], [Storage], [Screen], [GPU], [Weight], [OS], [ImageUrl], [IsFeatured], [Needs]) VALUES (2, N'Asus ROG Zephyrus G14', N'Asus', CAST(47990000.00 AS Decimal(18, 2)), N'AMD Ryzen 9 5900HS', N'32GB', N'1TB SSD', N'14 inch QHD 120Hz', N'NVIDIA RTX 3060', N'1.6kg', N'Windows 11', N'/images/laptops/asus-rog-zephyrus-g14.jpg', 1, N'Gaming,Đồ họa,Lập trình')
INSERT [dbo].[Laptops] ([Id], [Name], [Brand], [Price], [CPU], [RAM], [Storage], [Screen], [GPU], [Weight], [OS], [ImageUrl], [IsFeatured], [Needs]) VALUES (3, N'MacBook Air M2', N'Apple', CAST(18790000.00 AS Decimal(18, 2)), N'Apple M2', N'8GB', N'256GB SSD', N'13.6 inch Retina', N'Apple M2 GPU', N'1.24kg', N'macOS', N'/images/laptops/macbook-air-m2.jpg', 1, N'Học tập,Đồ họa,Văn phòng')
GO
SET IDENTITY_INSERT [dbo].[Laptops] OFF
GO
SET IDENTITY_INSERT [dbo].[UserSelections] ON 

INSERT [dbo].[UserSelections] ([Id], [Needs], [Brands], [Budget], [CreatedAt], [SelectedLaptopId]) VALUES (1, N'Gaming', N'Asus,MSI', CAST(25.00 AS Decimal(18, 2)), CAST(N'2025-06-13T01:42:45.7791744' AS DateTime2), 9)
INSERT [dbo].[UserSelections] ([Id], [Needs], [Brands], [Budget], [CreatedAt], [SelectedLaptopId]) VALUES (2, N'Học tập,Văn phòng', N'Dell,HP', CAST(15.00 AS Decimal(18, 2)), CAST(N'2025-06-15T01:42:45.8564532' AS DateTime2), 8)
INSERT [dbo].[UserSelections] ([Id], [Needs], [Brands], [Budget], [CreatedAt], [SelectedLaptopId]) VALUES (3, N'Đồ họa', N'Apple', CAST(35.00 AS Decimal(18, 2)), CAST(N'2025-06-18T01:42:45.8681706' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[UserSelections] OFF
GO
/****** Object:  Index [IX_UserSelections_SelectedLaptopId]    Script Date: 24/06/2025 7:58:07 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserSelections_SelectedLaptopId] ON [dbo].[UserSelections]
(
	[SelectedLaptopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserSelections]  WITH CHECK ADD  CONSTRAINT [FK_UserSelections_Laptops_SelectedLaptopId] FOREIGN KEY([SelectedLaptopId])
REFERENCES [dbo].[Laptops] ([Id])
GO
ALTER TABLE [dbo].[UserSelections] CHECK CONSTRAINT [FK_UserSelections_Laptops_SelectedLaptopId]
GO
USE [master]
GO
